#viewer {
  text-align: left;
}
#viewer #btn_back {
  margin-bottom: 15px;
}
#viewer * {
  text-align: left;
  font-size: 12pt;
}
#viewer img {
  max-width: 90%;
  max-height: 400px;
  height: auto;
  width: auto;
  margin: 20px auto;
  display: block;
}
#viewer .column_container :after {
  clear: both;
  height: 0;
  visibility: hidden;
  content: "";
}
#viewer .column_container .column {
  float: left;
}
#viewer p {
  margin-bottom: 5px;
}
#viewer pre {
  border-left: 4px solid cornflowerblue;
  background-color: #f3f3f3;
  padding-left: 25px;
}
#viewer h1 {
  margin: 25px 0;
  font-size: 1.8em;
}
#viewer h2 {
  border-bottom: 1px solid #66b8a0;
  margin: 45px 0 15px 0;
  font-size: 1.4em;
}
#viewer h3 {
  margin: 20px 0 10px 0;
  border-bottom: 1px solid #ffb400;
  font-size: 1.25em;
}
#viewer h4 {
  font-size: 1.1em;
  margin: 12px 0 5px 0;
  border-bottom: 1px solid darkred;
}
#viewer .content_section {
  font-size: 12pt;
  margin-left: 40px;
  margin-bottom: 30px;
}
#viewer .content_sub_section {
  font-size: 12pt;
  margin-left: 20px;
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  margin-bottom: 4px;
}
#chooser {
  margin-top: 20px;
}
#search {
  margin-bottom: 35px;
}
#search input {
  padding: 5px;
  font-size: 14pt;
  line-height: 1;
  width: 100%;
}
#search_results > ul {
  list-style: none;
}
#search_results > ul li {
  text-align: left;
}
#materials * {
  text-align: left;
}
#materials > ul {
  padding: 0;
}
#materials > ul > li {
  margin-bottom: 45px;
}
#materials ul {
  list-style: none;
  padding-left: 5px;
}
#materials hr {
  margin: 5px 0 16px 0;
}
#materials h2 {
  font-size: 16pt;
  margin: 24px 0;
  border-bottom: 1px solid #66b8a0;
}
#materials h3 {
  margin: 12px 0;
  font-size: 14pt;
  border-bottom: 1px solid #ffb400;
}
#materials h4,
#materials h5,
#materials h6 {
  margin-top: 2px;
}
.e_res {
  background-color: #fafafa;
  padding: 5px;
  margin-bottom: 2px;
}
.e_res:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.e_name {
  margin: 0;
}
.e_desc {
  font-size: 10pt;
}
.e_cat_name {
  margin-bottom: 4px;
}
