@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  font-family: 'Open Sans', sans-serif;
}
pre {
  border-left: 4px solid cornflowerblue;
  background-color: #f3f3f3;
  padding-left: 50px;
}
h1 {
  text-align: center;
}
h2 {
  border-bottom: 1px solid #ffb400;
}
h3 {
  border-bottom: 1px solid #66b8a0;
}
h4 {
  border-bottom: 1px solid darkred;
}
.content_section {
  font-size: 13pt;
  margin-left: 40px;
  margin-bottom: 30px;
}
.content_sub_section {
  font-size: 13pt;
  margin-left: 20px;
  margin-bottom: 20px;
}
