.imgleft{
float:left;
}
#bild1{
width: 700px;
}

#adr{
width: 200px
}

a{
color: #00CCCC
}

a:visited{
color: #00CC66
}

a:hover{
background-color: #98FB98;
}

body{
background-color: #FFFFFF;
font-family: "Comic Sans MS";
width: 700px;
margin: 0 auto;
}




